.buttonBuy {
    background-color: #e8e8e8;
    padding: 2px;
    font-size: 0.9rem;
    border: 1px solid rgba(0, 0, 0, 0.117);
    border-radius: 4px;
    text-decoration: none;
    color: #333333;
    font-weight: 700;
}